{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "loose": true,
        "esmodules": false,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "react-imported-component/babel",
    [
      "babel-plugin-styled-components",
      {
        "pure": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    "@babel/plugin-transform-runtime"
  ]
}